body{
   
        width: 100vw;
        height: 100vh;
        margin: 0;
        
        background-image: url("img/zombies.jpg");
        background-size: 130%;
        color: #fff;
        font-size: 25px;
        font-family: 'Fira Mono', monospace;
        text-align: center;
}
.title{
    display: flex;
    justify-content: center;
    margin: 0px;
}
.contenedor{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grande{
    display: grid;
    width: 30vw;
    height: 30vw;
    border-style: solid;
    border-color: white;  
    background-color: white;
}
@media all and (max-width:600px){
    .grande{
        width: 90vw;
        height: 90vw;
    }
}
.buttons{
    display: flex;
    align-items: end;
    justify-content: space-around;
}
.clear{
    width: 4vw;
    height: 2vw;
}
h1{
    animation: glitch 1s linear infinite;
    margin: 0px;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  h1:before,
  h1:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  h1:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  h1:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }
.colores, .random, .clear{
    height: 58px;
    
}
.rango{
    height: 5%;
}
.random, .clear{
    background: #000;
    color: #fff;
    border-radius: 30px;
    transition: transform 0,3s ease;
}
.random::after, .clear::after, .random::before, .clear::before{
content: "";
position: absolute;
opacity: 0,3;

border-radius: inherit;
width: 100%;
height: 100%;
left: 0;
bottom:0;
z-index: -1;
transition:transform 0,3s ease;
}
.random:hover, .clear:hover{
    transform:translate(-12px,-12px)
}
.random:hover::after, .clear:hover::after{
    transform:translate(6px,6px)
}
.random:hover::before, .clear:hover::before{
    transform:translate(12px,12px)
}